body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.page{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1440px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 0.5px solid rgba(128, 128, 128, 0.218);
    width: 90px;
    height: 900px;
}
.menutop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 500px;
}
.menubot{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 160px;
}
#logo{
    width: 55px;
    height: 55px;
}
#menuitem{
    width: 30px;
    height: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 0.5px solid rgba(128, 128, 128, 0.218);
    height: 900px;
    width: 910px;
    margin-left: 37.25px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    width: 830px;
    margin-top: 30px;
}
.livetime{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    color: red;
    border-radius: 30px;
    width: 90px;
    height: 40px;
}
.subtitle{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 500;
    align-items: center;
    width: 350px;
    height: 30px;
}
.internal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: smaller;
    width: 80px;
    height: 30px;
}
#imgsubtt{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
    margin-right:  5px;
}
.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 455px;
}
.live{
    position: relative;
}
#imgbig{
    width: 830px;
    height: 455px;
}
.detailuser{
    position: absolute;
    top: 3%;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 10px;
}
.nameuser{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 40px;
}
.dot{
    background-color: rgb(0, 255, 0);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 5px;
}
.usersmall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 830px;
    height: 160px;
}
.detailusersmall{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-left: 10px;
}
.nameusersmall{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: 105px;
    height: 25px;
}
#imgsmall{
    width: 260px;
    height: 160px;
    border-radius: 10px;
}
.dotsmall{
    background-color: rgb(0, 255, 0);
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin: 5px;
}
#micsmall{
    width: 30px;
    height: 30px;
}
.micmutesmall{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
}
.container2{
    display: flex;
    justify-content: center;
    width: 830px;
    height: 45px;
}
.tools{
    display: flex;
    justify-content: space-between;
    width: 485px;
    height: 45px;
}
#btnEnd{
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 0px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}
.rightside{
    width: 445px;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
}
.membertop{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    width: 420px;
    height: 360px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.218);;
}
.titlemember{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
}
.partici{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
    height: 30px;
}
#numberMember{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: red;
    border-radius: 50px;
    background-color: rgba(153, 153, 153, 0.255);
}
.btnAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
}
.memberlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#memberdetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 40px;
}
#cammic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 80px;
}
.chatbottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.messbox{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100px;
}
.usermess{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 45px;
}
.username{
    margin-left: 5px;
}
#mess{
    margin-left: 40px;
}
.typemess{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#boxtext{
    width: 325px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(159, 159, 159, 0.185);
}
.typeuser{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
}
